@import "global.css";

.bg{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #823d8b;
    background-image: linear-gradient(150deg, #823d8b 45%, #602868 45%);
    width: 100%;
    height: 100vh;
}

.auth{
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(25, 7, 39, 0.7);
}

.auth .title{
    padding: 20px;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
}

.auth form{
    display: block;
    margin: auto;
    padding: 20px;

}

.auth .field{
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
    padding: 5px 10px;
    padding-left: 30px;
    border: 1px solid #CCC;
    border-radius: 3px;
}

.auth input[type="text"]{
    
    background: url(../img/user.png) no-repeat 7px 7px;
    background-size: 16px;
}
.auth input[type="email"]{
    background: url(../img/email.png) no-repeat 7px 7px;
    background-size: 16px;
}
.auth input[type="password"]{
    background: url(../img/password.png) no-repeat 7px 7px;
    background-size: 16px;
}

.auth button{
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    background-color: #501f57;
    border-radius: 40px;
    border: 1px solid #CCC;
}

.auth button:hover{
    background-color: #823d8b;
    border: 1px solid #823d8b;
    color: #FFF;
}

.auth .toogle{
    padding: 20px;
    padding-top: 0px;
    text-align: center;
    cursor: pointer;
}

.auth .toogle:HOVER{
    text-decoration: underline;
}

.register{
    display: none;
}