@import "global.css";

body{
    background-color: rgb(59, 59, 59);
}

#inbox{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    box-shadow: 21px 10px 30px -37px  rgba(0, 0, 0, 0.95);
    overflow: auto;
}

#chat{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    /* background-color: rgb(165, 165, 165); */
}

#profile{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    box-shadow: -21px 10px 30px -37px rgba(0, 0, 0, 0.95);
}
 
.column{
    height: 100vh;
}

.column p.title{
    font-weight: bold;
    font-size: 24pt;
    padding: 20px 30px;
}

.empty img{
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 500px;
}

.empty p{
    padding: auto 10%;
    text-align: center;
    color: rgb(161, 113, 206);
    margin-top: 20px;
    font-size: 14pt;
}